.bg-black {
    background: black;
}

.list-footer {
    li {
        list-style: none;

        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        /* identical to box height */

        display: flex;
        align-items: flex-end;
        text-align: center;
        margin: 10px 10px;
        text-decoration-line: underline;

        a {
            color: #FFFFFF;

        }
    }
}

.hover-link:hover{
    color:#4D22C5;
}

.list-social {
    li {
        list-style: none;
        margin: 0px 10px 10px 10px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        text-align: center;

        a {
            color: #FFFFFF;

        }
    }
}
