.content-login {
    height: calc(100vh - 38.9vh);
    background: url("./assets/images/celular.png") no-repeat;
    background-position: center;
    background-size: 40%;
}

.content-body {
    background: white;
    height: 400px;
}

.body-login {
    width: 100%;
}

.img-center-celular {
    position: absolute;
    left: 557px;
    top: 210px;
    z-index: -9999;
    width: 432px;
    height: 431px;
}


.card-login {
    width: 496px;
    height: 463px;
    box-shadow: 0px 0px 32px 0px #c3c3c3;
    background: #FFFFFF;
    border-radius: 25px;
    text-align: center;
}

.card-recuperar-senha {
    width: 496px;
    height: 463px;
    box-shadow: 0px 4px 92px rgba(77, 34, 197, 0.28);
    background: #FFFFFF;
    border-radius: 25px;
    text-align: center;
}

.form-input-login {
    padding: 18px 10px;
    border: 0px solid;
    /* Light-Gray */
    outline: none;
    background: #E3E5E8;
    border-radius: 10px;
}

.form-input-recuperar-senha {
    padding: 18px 10px;
    /* Light-Gray */
    outline: none;
    border: 1px solid #4D22C5;
    box-sizing: border-box;
    border-radius: 10px;
}


.btn-login {
    width: 100%;
    height: 56px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    border: 0px;

    background: $color-primary;
    border-radius: 5px;
}

.form-login {
    margin-top: 26px;
}

.check-login {
    margin: 15px 0px;
}

.body-reset-senha {
    background: url("./assets/images/banner-recuperar-senha.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.body-pre-cadastro {
    background: url("./assets/images/banner-pre-cadastro.png") no-repeat;
    background-size: cover;
    background-position: center;
}


.card-tipos {
    background: #FFFFFF;
    border-radius: 25px;
    height: 350px !important;
    width: 300px;
}

.header-salao {
    //background: url("./assets/images/salao.png") no-repeat;
    background-size: cover;
    flex: 1;
    display: flex;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.footer-salao {
    background: white;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}



.header-distribuidor {
    background-size: cover;
    flex: 1;
    display: flex;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.footer-distribuidor {
    background: white;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}



@media (max-width: 1400px) {
    .content-login {
        height: 83vh;
    }

    .content-pre-register {
        height: 60vh;
    }
}
