.card-marca {
    background: #FFFFFF;
    box-shadow: 0px 4px 92px rgb(77 34 197 / 8%);
    border-radius: 12px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    margin: 0px 0px 10px 22px;
    justify-content: center;
}
