// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'nav-guest';
@import 'footer';
@import 'login';
@import 'home';
@import 'register';
@import 'marca';
@import 'homeBeleza';
@import 'detail';
@import 'carrinho';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a {
    cursor: pointer;
    color: black;
}
